<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Completed</title>
</head>
<body>
{% extends 'todo/base.html' %}

{% block content %}
Completed
<ul>
    {% for todo in todos %}
    <li>
        <a href="{% url 'viewtodo' todo.id %}">
        {% if todo.important %}<b>{% endif %}{{ todo.title }}{% if todo.important %}</b>{% endif %}
        {% if todo.description %} - {{ todo.description }} {% endif %}
        {{ todo.datecompleted|date:'M j Y H:i' }}
    </li>
    {% endfor %}
</ul>
{% endblock %}
</body>
</html>